In [17]:
import pandas as pd

<h1>Chargement des données</h1>

In [18]:
data = pd.read_csv("../data/Most_popular_1000_Youtube_videos.csv")
data.head()

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,547,981,039","44,428,537",NaN,Music,2015

In [19]:
data.tail()

,rank,Video,Video views,Likes,Dislikes,Category,published
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,"847,249","1,857",173,People & Blogs,2017
996,997,Ford Mustang Launch (street),"1,001,605","2,214",27,Autos & Vehicles,2008
997,998,Eminem is gay - The Interview,"2,718,939","43,492",0,Entertainment,2014
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,"52,890,986","850,425",0,Gaming,2017
999,1000,What a Twist #memes #shorts #movie,"11,637,337","938,043",NaN,Gaming,2024

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        1000 non-null   object
 4   Dislikes     527 non-null    object
 5   Category     982 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

<h1>Identification des valeurs manquantes</h1>

In [21]:
data.isnull().sum()

rank             0
Video            0
Video views      0
Likes            0
Dislikes       473
Category        18
published        0
dtype: int64

<p>
    Ici, on remarque la présence de valeurs manquantes dans les colonnes Dislikes, Categories. Pour pallier ce problème, nous avons plusieurs possibilitées:
</p>
<ul>
    <li>Définir une valeur par défaut pour chaque valeur manquante</li>
    <li>Préciser de manière explicite l'absence de la valeur</li>
    <li>Rechercher la valeur manquante et l'ajouter (fastidieux, voire impossible pour des données massive)</li>
    <li>Supprimer les lignes avec des valeurs manquantes (Perte de données importantes)</li>
</ul>
<p>En gros seules les deux premières possibilités sont adaptés à notre situation</p>

<h1>Vérification des colonnes contenant des doublons</h1>

In [22]:
data.columns

Index(['rank', 'Video', 'Video views', 'Likes', 'Dislikes', 'Category',
       'published'],
      dtype='object')

<p>Les colonnes qui peuvent contenir des doublons sans être supprimées sont :</p>
<ul>
    <li>Video views</li>
    <li>Likes</li>
    <li>Dislikes</li>
    <li>Category</li>
    <li>Published</li>
</ul>

<p>
    Cependant, les colonnes "rank" et "Video" ne doivent pas contenir de doublons.
    Vérifions donc cela:
</p>

In [23]:
data.loc[data["rank"].duplicated(keep=False), ]

Empty DataFrame
Columns: [rank, Video, Video views, Likes, Dislikes, Category, published]
Index: []

<p><span style="text-decoration: underline; font-size: 18px;">
Conclusion 1:</span> Aucun doublon détecté pour la colonne "rank"</p>

In [24]:
data.loc[data["Video"].duplicated(keep=False), ]

,rank,Video,Video views,Likes,Dislikes,Category,published
17,18,MILLION DOLLAR BABY,"11,894,076","226,375",NaN,Music,2024
196,197,Tiryakinim,"6,332,540","64,248",NaN,Music,2024
205,206,Tiryakinim,"8,170,818","45,890",NaN,Music,2024
215,216,Bıraktığın Gibi Burdayım,"1,291,926","10,366",NaN,Music,2024
267,268,Bıraktığın Gibi Burdayım,"1,889,571","13,340",NaN,Music,2024
500,501,MILLION DOLLAR BABY,"483,750","30,078",NaN,Music,2024

<p>On remarque d'après le tableau précédent, trois doublons dans la colonne "Video".</p>

<p>
    On voit que les lignes contenant ces doublons ont des
    valeurs différentes pour les colonnes 'Video' et 'Likes'. Ainsi On a deux hypothèses:
</p>
<ol>
    <li>Il y a des erreurs de saisie au niveau de ces lignes</li>
    <li>Les données ont été enregistrées à des dates différentes</li>
</ol>
<span style="text-decoration: underline; font-size: 18px;">
Conclusion 2:</span>
<p>
    La première hypothèse est invalide puisque nous constatons des différences
    considérables (ce qui ne serait pas le cas s'il s'agissait de simples erreurs de saisie)
     entre les doublons
</p>
<p>
    On retiendra alors la seconde hypothèse et dans ce cas il faudra retenir uniquement les
    lignes avec les infos les plus récentes. Il s'agit donc de ceux avec le plus de Video
    views
</p>