In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('../data/Most_popular_1000_Youtube_videos.csv')
data.head()

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,547,981,039","44,428,537",NaN,Music,2015

### Standardisation des noms de colonnes

In [3]:
def standardisation(nom_colonne):
    nom_colonne = str.lower(nom_colonne).replace(' ', '_')
    return str(nom_colonne)

for column in data.columns:
    data.rename(columns={
        column:standardisation(column)
    }, inplace=True)
data

,rank,video,video_views,likes,dislikes,category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,547,981,039","44,428,537",NaN,Music,2015
...,...,...,...,...,...,...,...
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,"847,249","1,857",173,People & Blogs,2017
996,997,Ford Mustang Launch (street),"1,001,605","2,214",27,Autos & Vehicles,2008
997,998,Eminem is gay - The Interview,"2,718,939","43,492",0,Entertainment,2014
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,"52,890,986","850,425",0,Gaming,2017
999,1000,What a Twist #memes #shorts #movie,"11,637,337","938,043",NaN,Gaming,2024

### Vérification du type

In [4]:
data.dtypes

rank            int64
video          object
video_views    object
likes          object
dislikes       object
category       object
published       int64
dtype: object

In [5]:
columnList = ['video_views', 'likes', 'dislikes']

for column in columnList:
    data[column] = pd.to_numeric(data[column].str.replace(',', ''), errors='coerce')

data[columnList]

     video_views     likes  dislikes
0       54071677   3497955   78799.0
1        3471237     19023     859.0
2       34206747    293563       NaN
3       18558390    680732       NaN
4     6547981039  44428537       NaN
..           ...       ...       ...
995       847249      1857     173.0
996      1001605      2214      27.0
997      2718939     43492       0.0
998     52890986    850425       0.0
999     11637337    938043       NaN

[1000 rows x 3 columns]

In [6]:
data.dtypes

rank             int64
video           object
video_views      int64
likes            int64
dislikes       float64
category        object
published        int64
dtype: object

### Vérification des Outliers

In [7]:
data.describe()

              rank   video_views         likes       dislikes    published
count  1000.000000  1.000000e+03  1.000000e+03     527.000000  1000.000000
mean    500.500000  2.453435e+07  3.685451e+05    2322.324478  2019.100000
std     288.819436  2.512570e+08  1.629418e+06    9653.170360     5.384328
min       1.000000  4.493900e+04  4.330000e+02       0.000000  2005.000000
25%     250.750000  9.815690e+05  9.427250e+03     200.000000  2017.000000
50%     500.500000  2.341652e+06  3.026200e+04     477.000000  2021.000000
75%     750.250000  1.162638e+07  1.649858e+05    1469.000000  2024.000000
max    1000.000000  6.547981e+09  4.442854e+07  178042.000000  2025.000000

Aucun outlier détecté

### Vérification des Doublons

In [8]:
data.loc[data['video'].duplicated(keep=False), ]

,rank,video,video_views,likes,dislikes,category,published
17,18,MILLION DOLLAR BABY,11894076,226375,NaN,Music,2024
196,197,Tiryakinim,6332540,64248,NaN,Music,2024
205,206,Tiryakinim,8170818,45890,NaN,Music,2024
215,216,Bıraktığın Gibi Burdayım,1291926,10366,NaN,Music,2024
267,268,Bıraktığın Gibi Burdayım,1889571,13340,NaN,Music,2024
500,501,MILLION DOLLAR BABY,483750,30078,NaN,Music,2024

In [9]:
data.drop_duplicates(subset=['video'], ignore_index=True, inplace=True)

In [10]:
data.loc[data['video'].duplicated(keep=False), ]

Empty DataFrame
Columns: [rank, video, video_views, likes, dislikes, category, published]
Index: []

### Valeurs manquantes

In [11]:
data.isnull().sum()

rank             0
video            0
video_views      0
likes            0
dislikes       470
category        18
published        0
dtype: int64

In [12]:
data.loc[data['dislikes'].isnull(), 'dislikes'] = 0
data.loc[data['category'].isnull(), 'category'] = 'Unknown'

In [13]:
data.isnull().sum()

rank           0
video          0
video_views    0
likes          0
dislikes       0
category       0
published      0
dtype: int64

### Réinitialisation des rangs

In [14]:
data['rank'] = np.arange(1, len(data)+1)

### Sauvegarde du DataFrame obtenu

In [15]:
data.to_csv('../data/data_cleaned.csv', index=False)