In [105]:
import pandas as pd
data = pd.read_csv("../data/Most_popular_1000_Youtube_videos.csv")

<style>
    * {
        line-height: 1.5em;
    }
</style>
<h1>Nettoyage et Préparation des Données</h1>

<h2 style="font-size: 18px;">
    Transformation des données des colonnes "Video views", "Likes" et "Dislikes" en
    valeurs numériques
</h2>

In [106]:
data.head()

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,547,981,039","44,428,537",NaN,Music,2015

<strong>Video views</strong>

In [107]:
i = 0
for row in data["Video views"]:
    row = row.split(",")
    row = "".join(row)
    row = int(row)
    data.iloc[i, 2] = row
    i += 1

data['Video views'] = data['Video views'].astype(int)

<strong>Likes</strong>

In [108]:
i = 0
for row in data["Likes"]:
    row = row.split(",")
    row = "".join(row)
    row = int(row)
    data.iloc[i, 3] = row
    i += 1

data['Likes'] = data['Likes'].astype(int)

<strong>Dislikes</strong>

In [109]:
i = 0
for row in data["Dislikes"]:
    if pd.isna(row):
        i += 1
        continue
    row = row.split(",")
    row = "".join(row)
    row = int(row)
    data.iloc[i, 4] = row
    i += 1

data['Dislikes'] = data['Dislikes'].astype(float)

<p>Après transformation, les colonnes "Video views", "Likes", et "Dislikes" ont des valeurs numériques à présent</p>

In [110]:
data

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799.0,Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...",3471237,19023,859.0,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,NaN,Music,2024
3,4,David Kushner - Daylight (Official Music Video),18558390,680732,NaN,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,6547981039,44428537,NaN,Music,2015
...,...,...,...,...,...,...,...
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,847249,1857,173.0,People & Blogs,2017
996,997,Ford Mustang Launch (street),1001605,2214,27.0,Autos & Vehicles,2008
997,998,Eminem is gay - The Interview,2718939,43492,0.0,Entertainment,2014
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,52890986,850425,0.0,Gaming,2017
999,1000,What a Twist #memes #shorts #movie,11637337,938043,NaN,Gaming,2024

<p>Cependant reste le problème des valeurs NaN au niveau de la colonne Dislikes. Nous allons donc remplacer ces valeurs par 0</p>

In [111]:
i = 0
for row in data["Dislikes"]:
    if pd.isna(row):
        data.iloc[i, 4] = 0
        i += 1
        continue
    i += 1

data['Dislikes'] = data['Dislikes'].astype(int)

In [112]:
data.tail()

,rank,Video,Video views,Likes,Dislikes,Category,published
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,847249,1857,173,People & Blogs,2017
996,997,Ford Mustang Launch (street),1001605,2214,27,Autos & Vehicles,2008
997,998,Eminem is gay - The Interview,2718939,43492,0,Entertainment,2014
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,52890986,850425,0,Gaming,2017
999,1000,What a Twist #memes #shorts #movie,11637337,938043,0,Gaming,2024

<strong>Standardisation des noms des colonnes en minuscules et sans espaces</strong>

In [113]:
data = data.rename(columns={'Video':'video', 'Video views':'video_views', 'Likes':'likes', 'Dislikes':'dislikes', 'Category':'category'})
data

,rank,video,video_views,likes,dislikes,category,published
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019
1,2,"20 Tennis shots if they were not filmed, NOBOD...",3471237,19023,859,NaN,2017
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,0,Music,2024
3,4,David Kushner - Daylight (Official Music Video),18558390,680732,0,Music,2023
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,6547981039,44428537,0,Music,2015
...,...,...,...,...,...,...,...
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,847249,1857,173,People & Blogs,2017
996,997,Ford Mustang Launch (street),1001605,2214,27,Autos & Vehicles,2008
997,998,Eminem is gay - The Interview,2718939,43492,0,Entertainment,2014
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,52890986,850425,0,Gaming,2017
999,1000,What a Twist #memes #shorts #movie,11637337,938043,0,Gaming,2024

<strong>Suppression des doublons</strong>

<p>Nous allons procéder selon la démarche énumérée lors de l'exploration des données (./01_exploration.ipynb)</p>

In [114]:
data = data.drop(index=data.index[[196, 215, 500]])
data = data.reset_index(drop=True)

<strong>Création de la colonne "like_ratio" correspondant au pourcentage de likes par rapport aux vues</strong>

In [115]:
data['like_ratio'] = (data['likes'] * 100 / data['video_views'])
data['like_ratio'] = data['like_ratio'].round(2)

<strong>DataFrame Obtenue</strong>

In [118]:
data.head()

,rank,video,video_views,likes,dislikes,category,published,like_ratio
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019,6.47
1,2,"20 Tennis shots if they were not filmed, NOBOD...",3471237,19023,859,NaN,2017,0.55
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,0,Music,2024,0.86
3,4,David Kushner - Daylight (Official Music Video),18558390,680732,0,Music,2023,3.67
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,6547981039,44428537,0,Music,2015,0.68

<h1>Sauvegarde du DataFrame obtenu</h1>

In [117]:
data.to_csv('../data/data_cleaned.csv', index=False)