In [14]:
import numpy as np
import pandas as pd
import pickle
data = pd.read_csv("../data/data_cleaned.csv")

<h1>Analyse Statistique et Manipulation</h1>

<strong>Moyenne du nombre de vues des vid√©os</strong>

In [15]:
moyenne = data['video_views'].mean()
print("La moyenne est de", int(moyenne), "vues")

La moyenne est de 24600037 vues

<strong>M√©dian du nombre de vues des vid√©os</strong>

In [16]:
median = data['video_views'].median()
print("La m√©diane est de", int(median), "vues")

La m√©diane est de 2345415 vues

<strong>L'√©cart-type du nombre de vues des vid√©os</strong>

In [17]:
ecart_type = data['video_views'].std()
print("L'√©cart-type est de", round(ecart_type, 2))

L'√©cart-type est de 251632230.41

<strong>Les 10 vid√©os les plus visionn√©es</strong>

In [18]:
data_sorted_by_views = data.sort_values('video_views', ascending=False)
data_sorted_by_views = data_sorted_by_views.reset_index(drop=True)
data_sorted_by_views.head(10)

,rank,video,video_views,likes,dislikes,category,published,like_ratio
0,5,Wiz Khalifa - See You Again ft. Charlie Puth [Official Video] Furious 7 Soundtrack,6547981039,44428537,0,Music,2015,0.68
1,61,"Pedro Cap√≥, Farruko - Calma (Remix - Official Video)",2964195014,13755637,0,Music,2018,0.46
2,382,"Jhay Cortez, J. Balvin, Bad Bunny - No Me Conoce (Remix)",2356628623,6622023,0,Music,2019,0.28
3,137,"ROSAL√çA, J Balvin - Con Altura (Official Video) ft. El Guincho",2209874850,9768545,0,Music,2019,0.44
4,32,"6ix9ine - FEFE ft. Nicki Minaj, Murda Beatz",1090948051,9015394,0,People & Blogs,2018,0.83
5,143,Rocket Blast Off #messingaround #flying #fun #brothers #playing #hangtime,156690686,1868300,0,Sports,2024,1.19
6,421,The emergency rescue dog is so awesome...cutepet,144116053,1759120,0,People & Blogs,2024,1.22
7,132,Drawing the pillar of lifeü•∂üóø#trollface #trollfaceedit #troll,133062446,3173002,0,People & Blogs,2025,2.38
8,193,A disabled duckling helps his cat friend üê• #DuckRescue #CuteAnimals #AnimalRescue,114441704,3749872,0,Entertainment,2024,3.28
9,279,0 Sharpness knife test?üíÄ,113886130,4702361,0,People & Blogs,2024,4.13

<strong>Les 10 vid√©os les plus aim√©es</strong>

In [19]:
data_sorted_by_likes = data.sort_values('likes', ascending=False)
data_sorted_by_likes = data_sorted_by_likes.reset_index(drop=True)
data_sorted_by_likes.head(10)

,rank,video,video_views,likes,dislikes,category,published,like_ratio
0,5,Wiz Khalifa - See You Again ft. Charlie Puth [Official Video] Furious 7 Soundtrack,6547981039,44428537,0,Music,2015,0.68
1,61,"Pedro Cap√≥, Farruko - Calma (Remix - Official Video)",2964195014,13755637,0,Music,2018,0.46
2,137,"ROSAL√çA, J Balvin - Con Altura (Official Video) ft. El Guincho",2209874850,9768545,0,Music,2019,0.44
3,32,"6ix9ine - FEFE ft. Nicki Minaj, Murda Beatz",1090948051,9015394,0,People & Blogs,2018,0.83
4,382,"Jhay Cortez, J. Balvin, Bad Bunny - No Me Conoce (Remix)",2356628623,6622023,0,Music,2019,0.28
5,279,0 Sharpness knife test?üíÄ,113886130,4702361,0,People & Blogs,2024,4.13
6,26,Olivia Rodrigo - drivers license (Official Video),68224979,3810456,48539,Music,2021,5.59
7,193,A disabled duckling helps his cat friend üê• #DuckRescue #CuteAnimals #AnimalRescue,114441704,3749872,0,Entertainment,2024,3.28
8,1,Lil Nas X - Old Town Road (Official Movie) ft. Billy Ray Cyrus,54071677,3497955,78799,Music,2019,6.47
9,364,Could you do it faster?,112237591,3470844,0,Sports,2024,3.09

<strong>Le classement des cat√©gories en fonction du nombre total de vues</strong>

In [20]:
views_by_category = data.groupby('category')['video_views'].sum()
views_by_category = views_by_category.reset_index(drop=False)
views_by_category_sorted = views_by_category.sort_values('video_views', ascending=False)
views_by_category_sorted = views_by_category_sorted.reset_index(drop=True)
views_by_category_sorted.head(10)

           category  video_views
0             Music  16012853272
1    People & Blogs   4813948048
2     Entertainment   1202425848
3            Sports    551996905
4  Film & Animation    379368313
5            Comedy    350001612
6  Autos & Vehicles    237126461
7            Gaming    200871851
8    Pets & Animals    180853064
9     Howto & Style    180677174

<strong>L‚Äôann√©e avec le plus de vid√©os populaires</strong>

In [21]:
years_by_views = data.groupby("published")["video_views"].count()
years_by_views = years_by_views.reset_index(drop=False)
years_by_views_sorted = years_by_views.sort_values('video_views', ascending=False)
years_by_views_sorted = years_by_views_sorted.reset_index(drop=True)
years_by_views_sorted.head(1)

   published  video_views
0       2024          288

<strong>La corr√©lation entre le nombre de vues et le nombre de likes</strong>

In [22]:
correlation = np.corrcoef(np.array(data['video_views']), np.array(data['likes']))
correlation

array([[1.        , 0.92787536],
       [0.92787536, 1.        ]])

<em>
    Le co√©fficient de corr√©lation √©tant dans l'intervalle [0.8, 1], On peut conclure qu'il
    existe une forte corr√©lation positive entre le nombre de vues et le nombre de likes
</em>

In [23]:
with open('variables.pkl', 'wb') as f:
    pickle.dump({'data_sorted_by_views':data_sorted_by_views, 'data_sorted_by_likes':data_sorted_by_likes, 'views_by_category_sorted':views_by_category_sorted, 'years_by_views_sorted':years_by_views_sorted, 'correlation':correlation}, f)